<div class="row" id="mode-client">
  <div class="col-12">
    <div class="row mt-2">
      <div class="col-12">
        <h1>{{ "label.prepared" | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <ng-container
        *ngIf="(orders | filterArray : 'finished' : false)?.length > 0"
      >
        <div
          class="col-2 mb-1"
          *ngFor="let order of orders | filterArray : 'finished' : false"
        >
          <div class="card">
            <div class="card-body">
              <p class="card-text">{{ order.numOrder }}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container
        *ngIf="(orders | filterArray : 'finished' : false)?.length == 0"
      >
        <div class="col-12">
          <p>{{ "label.no.orders.prepared" | translate }}</p>
        </div>
      </ng-container>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <h1>{{ "label.ready" | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <ng-container
        *ngIf="(orders | filterArray : 'finished' : true)?.length > 0"
      >
        <div
          class="col-2 mb-1"
          *ngFor="let order of orders | filterArray : 'finished' : true"
        >
          <div class="card">
            <div class="card-body">
              <p class="card-text">{{ order.numOrder }}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container
        *ngIf="(orders | filterArray : 'finished' : true)?.length == 0"
      >
        <div class="col-12">
          <p>{{ "label.no.orders.ready" | translate }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
